html {
  width: 100%;
  height: 100%;
}

body {
  background: rgb(252, 176, 69);
  background: linear-gradient(
    90deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(215, 80, 138, 1) 100%
  );
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: rgba(255, 255, 255, 0.3);
  border: 5px solid transparent;
  width: 450px;
  height: 85%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: normal;
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

.oscuros:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.claros:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  width: 95%;
  gap: 10px;
  grid-auto-rows: minmax(75px, auto);
}

.suma {
  grid-column: 4;
  grid-row: 3/5;
}

.igual {
  grid-column: 4;
  grid-row: 5/7;
}

.cero {
  grid-column: 1/3;
}

.resultado {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-column: 1/5;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 0;
  color: white;
  font-size: 50px;
  padding-right: 30px;
}

.oscuros {
  background-color: rgba(0, 0, 0, 0.45);
  border: 2px solid transparent;
  font-weight: bold;
}

.claros {
  background-color: transparent;
  border: 2px solid white;
}
