html {
  width: 100%;
  height: 100%;
}
body {
  background: rgb(252, 176, 69);
  background: linear-gradient(
    90deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(215, 80, 138, 1) 100%
  );
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background: rgba(255, 255, 255, 0.3);
  border: 5px solid transparent;
  width: 450px;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  border-radius: 20px;
  color: white;
  width: 80px;
  height: 60px;
  font-size: 25px;
  font-weight: normal;
  margin-top: 25px;
}
div {
  display: flex;
  gap: 30px;
}
.oscuros {
  background-color: rgba(0, 0, 0, 0.45);
  border: 0;
}
.claros {
  background-color: transparent;
  border: 2px solid white;
}
input {
  border-radius: 20px;
  border: 0;
  background-color: #303030;
  color: aliceblue;
  width: 80px;
  height: 45px;
  font-size: 30px;
  text-align: center;
}
